div.modal-bg
    div#modal
        span Cylinder parameters
            a#close(href='#close') &#215;
        form
            input#botRad(name='bottomRad', type='textbox', placeholder='Bottom Radius')
            input#topRad(name='topRad', type='textbox', placeholder='Top Radius')
            input#height(name='height', type='textbox', placeholder='Cylinder Height')
            select#material(name='material')
                option(value='brass') Brass
                option(value='c45') Steel C45
                option(value='stainless') Stainless steel
            button#submit(name='submitGeoParams', type='submit') Create