div.operationModal-bg
    div#operationModal
        span Operation parameters
            a#opClose(href='#close') &#215;
        form
            input#feedLength(name='feedLength', type='textbox', placeholder='Feed length')
            input#depth(name='depth', type='textbox', placeholder='Depth of cut')
            p Tool select:
            select.tool(name='toolSelect')
            button#submit(name='submitOperationParams', type='submit') Perform Operation